Source: modbus-utils
Maintainer: Wiren Board team <info@wirenboard.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper (>= 10), pkg-config, libmodbus-dev
Homepage: https://github.com/wirenboard/modbus-utils

Package: modbus-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmodbus5
Description: CLI utilities to work with Modbus devices
 Modbus client and server command line tools based on libmodbus.
